# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** 
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular of tools for Data Science
- Examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. Numpy
3. Scikit-learn

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|PyCharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
(3*4)+5 #This a simple arithmetic expression to mutiply then add integers

17

In [6]:
200/60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Cesar Cervantes Jimenez